div.event_body{
display:flex;
margin: 20px 15% auto;
background-color:white;
border-radius: 25px;
flex-direction: column;
}

#event_form{
padding:25px;
item-align:center;
}

.submit{
border-radius: 25px;
padding:8px;
background-color:green;
color:white;
}

#resultbox{
margin:30px auto;
width:100%;
}

#result_content{
width:80%;
height:100px;
text-align:center;
padding:12px;
}