div.upperdiv {
display:flex;
height:35%;
margin: 20px 15% auto;
background-color:white;
border-radius: 25px;
flex-direction: column;
}

div.heading{
background-color:black;
color:white;
border-radius: 25px 25px 0 0;
text-align:center;
text-shadow: 0 0 10px rgba(255, 255, 255,1.1);
font-size:22px;
padding:0.5%;
}

div.content {
display: flex;
flex-direction: row;
align-items: center;
}

img.profile{
height:150px;
width:150px;
margin: 33px 53px;
border-radius:15px;
}

div.text {
background:linear-gradient(to right bottom,#ccc, #fff);
padding:20px;
width:67%;
margin-right:45px;
text-align: justify;
border-radius:15px;
}

div.lower {
    margin: 45px 15% auto;
    display: flex;
    justify-content: center; /* Center the columns horizontally */
}

div.lowerdiv {
    height: 300px;
    width: 40%;
    background-color: white;
    border-radius: 25px;
    flex-direction: column;
    margin: 0 45px; /* Add margin to separate the columns */
}

div.tables{
width:100%;
}

div.tables table{
width:100%;
text-align:center;
}

div.tables table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.custom-textarea{
background:rgba(255,255,255,0.5);
border-radius:5px;
font-family: Arial, sans-serif;
width:100%;
}