ul.navbar li.logo {
    font-size: 28px;
    font-family: 'Krona One', sans-serif;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    border-radius: 0 34px 34px 0;
}

ul.navbar {
    list-style-type: none;
    margin: 0px auto;
    padding: 0;
    height:55px;
    background-color: #333;
    overflow: hidden;
    display: flex;

}


ul.navbar li {
    float: left;

}


ul.navbar li a.nav_buttons {
    display: block;
    margin-left: 20px;
    font-family: 'JetBrains Mono', monospace;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
}


ul.navbar li a.nav_buttons:hover {
    background-color: #111;
}

ul.navbar li.bmu{
margin-left:auto;
width:13%;
border-radius:34px 0px 0px 34px;
background-color:white;
} 

.bmu_logo{
display:flex;
justify-content:center;
}

.bmu_image{
height:60px;
width:70%;

}