<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/body.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
<div class="centered-form">
    <form class="register_form" method="POST" action="{{ url_for('login') }}">
        <center><h3>{{message}}</h3></center><br>
        <label for="email">Enter E-Mail:</label>
        <input type="text" name="email" id="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" value="Login"><p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></P>
    </form>
</div>
</body>
</html>
